<!-- 2 = UNE VALEUR URL A CHANGER -->

<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="http://malsup.github.com/jquery.form.js"></script>


</head>


<body>

  <div id="header">
    <div id="headerWMargin" class="row">
      <div class="col-xs-9">
      <p id="titreHeader"><i class="fa fa-cloud fa-pulse" aria-hidden="true"></i> Remember<span id="target"></span></p> v0.3.0 <a href="/changelog">Voir changelog</a>

    </div>
    <div class="col-xs-2">
      <div style="float: left">
      <!-- <i id="loupeIcone" class="fa fa-search" aria-hidden="true"></i> -->
      <form id="searchForm" method="post" action="/searchbytag">
      <input class='typeBox' id="searchBox" type="text" class="col-xs-3" placeholder="#" name='searchText'>
      </form>
    </div>
    </div>
    </div>
  </div>

<div class="clearfix"></div>

  <div id="bodyGlobal"> <br>

    <!-- <button id="testButton" class="generalRoundButton">Test</button> -->

    <div id="buttDivFixed">
      <div class='row row-eq-height'>
        <div class="col-xs-8">
          <form id="resteUpForm" action="/new/uploadReste" method="post">

            <input id='titreSvnr' type="text" placeholder="Titre " name="titreSvnr" class="typeBox"/>

            <div class='row' style='padding-top:15px'>
              <div class="col-xs-4">
                <input id='lieuSvnr' type="text" placeholder="Lieu" name="lieuSvnr" class="typeBox"/></div>

                <div class="col-xs-4">
                  <input id='date1' type="date" name="date1" class="typeBox" placeholder="Date"/></div>

                  <div class="col-xs-4">
                    <input id='hashtags'type="text" placeholder="Hashtags" name="hashtags" class="typeBox"/></div>

                    <!-- <div class="col-xs-3">
                      <select id='typeSvnr'>
                        <option name="typeSvnr" value="moment">Evenement</option>
                        <option name="typeSvnr" value="person">Personne</option>
                        <option name="typeSvnr" value="object">Objet</option>
                        <option name="typeSvnr" value="place">Lieu</option>
                      </select></div> -->
                    </form>
                  </div>
                </div>

                <div class="col-xs-2">
                  <form id="fileUpForm" enctype = "multipart/form-data"
                    action="/new/uploadFile" method="post">
                  <label id="addButton" for="userPhoto"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                  <input type="file" name="userPhoto" id="userPhoto" class='inputFilePhoto'/>
                </form>
              </div>
              <div class="col-xs-2">
                <button id="plusButtDiv"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
                <button id="validButtDiv"><i class="fa fa-check" aria-hidden="true"></i></button>
              </div>
            </div>
        </div>

    <div class="clearfix"></div>

    <button id='logoutButton' type="button" class="btn btn-danger">Logout</button>

</div>

<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/styleIndex.css">
<script type="text/javascript" src="/index.js"></script>
<script type="text/javascript" src='/jquery.transit.min.js'></script>
<script src="http://82.239.100.156:8080//socket.io/socket.io.js"></script>

</body>
  </html>
