<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

</head>


<body>

  <div id="header">
    <div id="headerWMargin" class="row">
      <div class="col-xs-9">
      <p id="titreHeader"><i class="fa fa-cloud" aria-hidden="true"></i> Remember</p>
    </div>
    <div class="col-xs-2">
      <div style="float: left">
      <!-- <i id="loupeIcone" class="fa fa-search" aria-hidden="true"></i> -->
      <form id="searchForm" method="post" action="http://82.239.100.156:8000/searchbytag">
      <input id="searchBox" type="text" class="col-xs-3" placeholder="#" name='searchText'>
      </form>
    </div>
    </div>
    </div>
  </div>

<div class="clearfix"></div>

  <!-- Panel Black -->
  <div id="addPanelBlack">  </div>

  <div id="bodyGlobal"> <br>

    <!-- <button id="testButton" class="generalRoundButton">Test</button> -->

    <div id="statutDisplay" class="alert">
    <strong>Serveur : </strong> <span id="dbRecStatut"></span>
  </div>

    <div id="buttDivFixed">
        <button id="addButton" class="generalRoundButton">+</button>
    </div>

    <div class="clearfix"></div>

</div>

<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/styleIndex.css">
<script type="text/javascript" src="/index.js"></script>

  </body>
  </html>
