<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

</head>
<body>

  <div id="header">
    <div id="headerWMargin">
      <p id="titreHeader"><i class="fa fa-cloud" aria-hidden="true"></i> Remember<span id="statut"></span></p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div id="bodyGlobal"><br>
    <div class="alert alert-info">
  <strong>Attention ! </strong>Choisissez le fichier à uploader puis "Ajouter" avant de remplir la suite du formulaire</div>

    <div id = "wellGlobal" class="well">
      <!-- <h2>Création de souvenir</h2><br> -->

    <form id="fileUpForm" enctype = "multipart/form-data"
      action="http://82.239.100.156:8000/new/uploadFile" method="post">
      <div class="form-group">
        <h4><i class="fa fa-picture-o" aria-hidden="true"></i> Image</h4>
        <input type="file" name="userPhoto" id="userPhoto" />
        <input class="btn btn-warning" type="submit" value="Ajouter" id="validationButtonFile"/>
      </div>
    </form>
  <br>
    <form id="resteUpForm" action="http://82.239.100.156:8000/new/uploadReste" method="post">
      <div class="form-group">
        <h4><i class="fa fa-home" aria-hidden="true"></i> Informations principales</h4>
        <input type="text" placeholder="Titre " name="titreSvnr" class="form-control" disabled="true"/>
        <input type="text" placeholder="Lieu" name="lieuSvnr" class="form-control" disabled="true"/>
        <h6>Type de souvenir</h6>
        <input type="radio" name="typeSvnr" value="moment" checked> Moment<br>
        <input type="radio" name="typeSvnr" value="person"> Personne<br>
        <input type="radio" name="typeSvnr" value="object"> Objet<br>
        <input type="radio" name="typeSvnr" value="place"> Lieu
    <br>
    <br>
        <h4><i class="fa fa-calendar" aria-hidden="true"></i> Dates</h4>
        <small>Date du souvenir ou du début de la période</small><input type="date" name="date1" class="form-control"/>
        <small>Fin de la période (vide si ponctuel)</small><input type="date" name="date2" class="form-control"/>
    <br>
        <h4><i class="fa fa-align-left" aria-hidden="true"></i> Description</h4>
        <textarea placeholder="Commentaires non fonctionnel" onkeyup="adjust_textarea(this)" id="comments" class="form-control"></textarea>
        <input type="text" placeholder="Hashtags" name="hashtags" class="form-control"/>
    <br>
        <h4><i class="fa fa-link" aria-hidden="true"></i> Liens et partages</h4>
        <input type="text" placeholder="Amis présents" name="presentFriends" class="form-control"/>
        <input type="text" placeholder="Partager avec des amis..." name="sharedFriends" class="form-control"/>
        <input type="text" placeholder="Lier à un souvenir" name="linkedToId" class="form-control"/>
        <input type="submit" value="Créer" id="newValider" class="btn btn-success"/>
      </div>
    </form>
  </div>
</div>



<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/styleNew.css">
<script type="text/javascript" src="/new.js"></script>

</body>
</html>
