<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="http://malsup.github.com/jquery.form.js"></script>


</head>


<body>

  <div id='bodyG'>

    <div>
      <!-- <img id='logo' src="/pissenlit.png"> -->
      <p id='title'>Remember</p>
    </div>

<div id='bodyGlobal'>
      <!-- <div class="col-xs-7">
      </div> -->

      <!-- <div class="col-xs-5"> -->
        <div id="divForm">
          <h2>Inscrivez-vous !</h2>
          <div class='form-group'>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder='Prénom' id="prenom"></div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder='Nom de Famille' id="nom"></div>
                <div id='formleft'>
                  <input type="text" class="form-control" placeholder='E-mail' id="email1">
                  <input type="text" class="form-control" placeholder='Confirmer votre e-mail' id="email2">
                  <div id='divstate' class="form-group has-feedback">
                  <input data-toggle="tooltip" title="" type="text" class="form-control input-lg" placeholder='Pseudo' id="pseudo"><span id='checkstate' class=""></span></div>
                  <input type="password" class="form-control" placeholder='Nouveau mot de passe' id="pwd1">
                  <input type="password" class="form-control" placeholder='Confirmer votre mot de passe' id="pwd2">
                  <input type="date" class="form-control" placeholder='Date de Naissance' id="datebirth">
                  <label class="radio-inline"><input type="radio" value='man' name="gender">Homme</label>
                  <label class="radio-inline"><input type="radio" value='woman' name="gender">Femme</label><br><br>
                  <button type="button" class="btn btn-success">Inscription</button>
                  <div id='state'></div>
                </div>
              </div>
            </div>
          </div>

    <link rel="stylesheet" href="/styleGeneral.css">
    <link rel="stylesheet" href="/styleRegister.css">
    <script type="text/javascript" src="/register.js"></script>
    <script type="text/javascript" src='/jquery.transit.min.js'></script>
    <script src="http://82.239.100.156:8080//socket.io/socket.io.js"></script>

  </div>

</body>
</html>
