@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ececec;
  margin: 0px;
}

.header {
  background-color: #2b4f5c;
  height : 120px;
  padding: 10px 30px;
}

.section_title {
  font-weight: 300;
  font-size: 20px;
}


/*.headerHidden {
  top : -120px;
}*/


#profilePic {
  height : 60px;
  width: 60px;
  vertical-align: middle;
  margin-left: 5px;
  object-fit: cover;
}

.imgCard {
  height: 150px;
  object-fit: cover;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.

/*::-webkit-scrollbar {
    display: none;
}*/




 //  https://www.sanwebe.com/2014/08/css-html-forms-designs
