
<!-- 1 = UNE VALEUR URL A CHANGER -->

<!DOCTYPE html>
<html>
<head>

  <title>Changelog</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

</head>

<body>
  <div id="header">
    <div id="headerWMargin">
      <p id="titreHeader"><i class="fa fa-cloud" aria-hidden="true"></i> Remember<span id="statut"></span></p>
      <!-- <button id="testButton" class="generalRoundButton">Test</button> -->
    </div>
  </div>

  <div class="clearfix"></div>

<div id="bodyGlobal"> <br>
  <h3>Fonctions à venir</h3>
    <ul class="list-group">
      <li class="list-group-item">Suppression de souvenirs sur les pages /focus <span class="label label-success">En cours</span></li>
      <li class="list-group-item">Ajout d'une page de profil <span class="label label-success">En cours</span></li>
      <li class="list-group-item">Upload d'une photo de profil <span class="label label-warning">???</span></li>
      <li class="list-group-item">Sécurisation des souvenirs <span class="label label-info">18/09/16</span></li>
      <li class="list-group-item">Ajout d'amis sur la page de profil <span class="label label-warning">???</span></li>
      <li class="list-group-item">Nouveau logo <span class="label label-warning">???</span></li>
      <li class="list-group-item">Nouveau design de la page /index <span class="label label-warning">???</span></li>
      <li class="list-group-item">Correction du bug de date sur /focus <span class="label label-warning">???</span></li>
    </ul> <br>

    <h3>Statistiques de l'appli</h3>
    <ul class="list-group">
      <li class="list-group-item">Nombre de profils crées : <span class="label label-info"><%= usernb %></span></li>
      <li class="list-group-item">Nombre de souvenirs uploadés : <span class="label label-info"><%= svnrnb %></span></li>
      <li class="list-group-item">Date du dernier souvenir uploadé : <span class="label label-info"><%= lastsvnrdate %></span></li>
    </ul>

</div>

<link rel="stylesheet" href="/styleGeneral.css">
<link rel="stylesheet" href="/styleChangelog.css">
<script type="text/javascript" src="/changelog.js"></script>

</body>
</html>
