<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIZJxUd_-Nr_QzFw3AEuc2OOuYECk0Nnk&libraries=places&callback=initAutocomplete"
          async defer></script>

  <!-- NOTE: AMAZON SDK -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.122.0.min.js"></script>

</head>
<body>

  <div class="myHeader">
    <div style="display: flex; flex-direction:'row'; align-items: center; justify-content:flex-start">
      <a href="/"><i class="material-icons">keyboard_arrow_left</i></a>
      <p>Creation d'un souvenir</p>
    </div>
    <div>
      <button class="submitBtn" name="button"><i id="submitBtnIcon" class="material-icons">done</i></button>
    </div>
  </div>

  <div class="myBody">

    <div class="myCard">
      <div class="myCardHeader">
        <p>AJOUTER DES PHOTOS</p><button class="gradButton sideBtn" onclick="addPhoto('ImgSvnr')">Transférer</button>
      </div>
      <div class="myCardContent">
        <div class="uploadLabelDiv">
          <span id="uploadLabel" for="photoupload">Choisir 3 photos max</span>
        </div>
        <input type="file" id="photoupload" class='gradButton' multiple="multiple"/>
        <div class="addPictureDiv">
          <div id="myProgress">
            <div id="myBar"></div>
          </div>
          <div id="progressIndicator">
            En attente de transfert
          </div>
        </div>
      </div>
    </div>

    <div class="myCard">
      <div class="myCardHeader">
        <p>DATE ET LIEU</p>
        <button class="sideBtn" id="hereNowBtn" style="border: 0px; color: rgba(0,0,0,0.55); font-size: 12px;">here and now</button>
      </div>
      <div class="myCardContent">
        <p class="inputLabel" id='svnr_date'>Date</p>
        <input type="date" id="dateInput">
        <p class="inputLabel">Lieu</p>
        <input id="autocomplete" class="controls" type="text" placeholder="Enter a location">
      </div>
    </div>

    <div class="myCard">
      <div class="myCardHeader">
        <p>TITRE ET DESCRIPTION</p>
      </div>
      <div class="myCardContent">
        <p class="inputLabel">Titre</p>
        <input type="text" id="titre" placeholder="Titre du souvenir">
        <p class="inputLabel">Racontez ce qu'il s'est passé</p>
        <textarea id="description" placeholder="Description du souvenir" style="height:120px"></textarea>
      </div>
    </div>


    <div class="myCard">
      <div class="myCardHeader">
        <p>PERSONNES PRESENTES</p>
      </div>
      <div class="myCardContent" id="friendsDisplay" style="overflow: scroll;">
        <div id="friendsDisplayScrollable">

        </div>

      </div>
    </div>



  <link rel="stylesheet" href="/styleGeneral.css">
  <link rel="stylesheet" href="/edit_svnr.css">
  <script type="text/javascript" src="/edit_svnr.js"></script>
  <script type="text/javascript" src='/jquery.transit.min.js'></script>
  <script type="text/javascript" src='/jquery.jMosaic.js'></script>

</body>
</html>
