<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta name="theme-color" content="#607D8B">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"> -->
  <script src="http://malsup.github.com/jquery.form.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

    <section class="myHeader">

      <div id="Header">

        <div id='inputNewPhoto'>
          <form id="fileUp" enctype = "multipart/form-data" action="/new/uploadFile" method="post">
            <label id="addButton" for="userPhoto"><i class="material-icons">vertical_align_top</i></label>
            <input type="file" name="userPhoto" id="input_photo" class='inputFilePhoto'/>
          </form>
        </div>
        <!-- <button data-target="modal1" class="btn-flat waves-effect waves-green grey lighten-2 section_btn">
        +<i class="material-icons prefix ">perm_identity</i></button> -->
        <!-- <a href="/mobileIndex" id="homeLink"><i class="small material-icons">reorder</i></a> -->
        <!-- <a href="#">Afficher tout</a> -->
        <a href='/myProfile'>
          <!-- <%= profilePNom %> <%= profileNom %> -->
          <img id="profilePic" class="circle responsive-img" src= "/<%= userphotoid %>"></a>
        </div>

      </section>


    <section class="trueBody">

        <div id="svnr_recall_space">


        </div>


    </section>

    <div id="bottomDiv" class="row">
      <a class="botNavIcon col s3" href="/open_camera"><i class="material-icons navIcon">camera_enhance</i></a>
      <a class="botNavIcon col s3" href="/mobileIndex"><i class="material-icons navIcon">home</i></a>
      <a class="botNavIcon col s3" href="/search"><i class="material-icons navIcon">search</i></a>
      <a class="botNavIcon col s3" href="/mobileIndex"><i class="material-icons navIcon">sms_failed</i></a>
    </div>

    <link rel="stylesheet" href="/mobileGeneral.css">
    <link rel="stylesheet" href="/mobileIndex.css">
    <script type="text/javascript" src="/mobileIndex.js"></script>
    <script type="text/javascript" src='/jquery.transit.min.js'></script>
    <script type="text/javascript" src='/jquery.jMosaic.js'></script>
    <!-- <link rel="stylesheet" href="css/jquery.jMosaic.css"/> -->
    <!-- <script src="http://82.239.100.156:8080/socket.io/socket.io.js"></script> -->

  </body>
  </html>
