<!DOCTYPE html>
<html>
<head>

  <title>Remember</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta name="theme-color" content="#607D8B">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"> -->
  <script src="http://malsup.github.com/jquery.form.js"></script>


</head>
<body>

  <div class="transparentHeader">
    <a href='/myProfile'>
      <img id="myProfilePic" class="" src= "/<%= userphotoid %>">
    </a>
    <img id="whitelogo" src="whitelogo.png" alt="logo">
    <span id="rememberTitle">Remember.</span>
  </div>

    <!-- <section class="">

      <div id="Header">

        <div id='inputNewPhoto'>
          <form id="fileUp" enctype = "multipart/form-data" action="/new/uploadFile" method="post">
            <label id="addButton" for="userPhoto"><i class="material-icons">vertical_align_top</i></label>
            <input type="file" name="userPhoto" id="input_photo" class='inputFilePhoto'/>
          </form>
        </div>
        </div>

      </section> -->


    <section class="trueBody">
      <div id="researchBarDiv" class="">
        ICI c'est la barre de recherche uesh
      </div>

        <div id="svnr_recall_space">



        </div>


    </section>

    <button id="addButton" class="gradButton">+</button>

    <link rel="stylesheet" href="/styleGeneral.css">
    <link rel="stylesheet" href="/mobileIndex.css">
    <script type="text/javascript" src="/mobileIndex.js"></script>
    <script type="text/javascript" src='/jquery.transit.min.js'></script>
    <script type="text/javascript" src='/jquery.jMosaic.js'></script>
    <!-- <link rel="stylesheet" href="css/jquery.jMosaic.css"/> -->
    <!-- <script src="http://82.239.100.156:8080/socket.io/socket.io.js"></script> -->

  </body>
  </html>
