#searchInput {
  position: relative;
  width: 87vw;
  height: 45px;
  background-color: white;
  border-radius: 3px;
  opacity: 0.7;
  margin: 0 0 10px 0;
  border: 0px;
  padding: 0px 10px 0px 10px;
  color: rgba(69, 90, 100, 0.79);
  font-size: 13px;
  transition: 0.3s;
}
#searchInput:focus {
  opacity: 1;
  width: 89vw;
  margin: 0 -1vw 10px -1vw;
}
#searchTipsDiv {
  height: 20vh;
  background-color: white;
  width: 87vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  display: none;
  transition: 0.3s;
}
#searchInput:focus ~ #searchTipsDiv {
  display: block;
  margin-bottom: 100vh;
  transition: 0.3s;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(69, 90, 100, 0.79);
}

#svnr_recall_space {
  display: flex;
  flex-direction: column;
}

.svnrCard {
  height: auto;
  background-color: white;
  width: 87vw;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
}
.svnrCard_topDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.who_posted {
  height : 5vh;
  width: 5vh;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 1;

}
.svnrCard_topDiv_rightPart {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  padding-top: 3px;
  width: 100%;}
.cBusername {
  color: rgba(84, 153, 248, 1);
  font-size: 15px;
}
.actionType {
  color: rgba(0,0,0,0.7);
  font-size: 15px;
}
.creationDate {
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}
.svnrImg {
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
  border-radius: 3px;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.svnrCard_botDiv {
  /* NOTE: flex à mettre ici lors de l'ajout des amis présents */
  padding-left: 5px;
}
.titreDiv {
  font-size: 15px;
  font-weight: 200;
}

.dateDiv {
  color: rgba(0,0,0,0.5);
}
.lieuDiv {
  padding-top: 5px;
  font-size: 12px;
}
#fileUp {
  width: 0;
  height: 0;
}
#addButton_label {
  width: 0;
  height: 0;
}
#input_photo {
  object-fit: cover;
  padding: 0;
}

/* NOTE: OLD */
#loadMoreCard {
  float: left;
  height: 100px;
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  border-radius: 2px;
  margin-bottom: 10px;
  border: solid 1px rgba(0,0,0,0.2);
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  color: rgba(0,0,0,0.2);
}

/*.topMyCardDiv {
}*/
.nameSpan {
  font-weight: 800;
  color: #607D8B;
}

.sharedDiv {
  color: #607D8B;
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
  right: 0px;
  height : 25px;
}
a {
  color: grey;
}
.descriptionDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}
.tagDiv {
  position: relative;
  bottom: 0px;
  border-top: solid 1px rgba(0,0,0,0.05);
  height: 25px;
  padding-top: 3px;
}




/*ESPACE AMIS PARTAGES*/
#sharedFriendsSpace {
  background-color: white;
  height: 170px;
  padding: 10px 10px;
}
.img_sharedFr {
  height: 70px;
  width: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}
.img_sharedFr:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Bouton suppression partage*/
.sharedSupp_btn {
  position: relative;
  margin-top: -30px;
  margin-left: 47px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  padding-top: 3px;
  padding-left: 3px;
  background-color: #F44336;
  color: white;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: none;
  z-index: 99;
}
.img_sharedFr:hover ~ .sharedSupp_btn {
  display: block;
}
.sharedSupp_btn:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: block;
}
