@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

/* NOTE: GENERAL */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.headerButton {
  position: absolute;
  top: 0;
}

.FtransparentHeader {
  z-index: 25;
  width: 100vw;
  height: 45px;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: ;
  margin-left: -8px;
  background-color: ;
  padding: 0;
  justify-content: space-between;
  color: white;
}
.FtransparentHeader a {
  color: white;
  text-decoration: none;
}

.trueBody {
}

.backIcon {
  margin-top: 10px;
  color: white;
  font-size: 35px;
}

.headerButton {
  background-color: rgba(0,0,0,0);
  border: 0px solid white;
}

.addFriendBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0px;
  padding: 0;
}


/*.trueBody {
  padding: 20px;
}*/

#creatorDiv {
  margin: -120px 0 0 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.creatorDivPicture {
  height : 35px;
  width: 35px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
}
#creatorDivInfo {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3px 0 0 5px;
}
#creatorDivInfo p {
  margin: 0;
  font-weight: 100;
}

#svnrTitre {
  font-size: 16px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nbImgSpan {
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin: -25px 0 10px 0;
  padding: 2px 20px;
  border-radius: 3px;
}

.svnrImg {
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  height: auto;
  width: 100%;
  margin-bottom: 7px;
}
.mapImg {
  width: 100%;
  height: 70px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chapterP {
  color: white;
  padding: 6px 0;
  width: 90%;
  margin: 5px auto;
  font-size: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

#avecDiv {

}

#presentFriendsDiv {

}

#descriptionDiv {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#descDivTxt {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0px 9px;
  text-align: justify;
  text-justify: inter-word;
}
#sharedDiv {
  min-height: 70px;
  height: auto;
  padding: 0px 9px;
}
#sharedDivDiv {
  display: flex;
  flex-direction: row;
}

#anecdoteDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.anecdoteDivTxt {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;
  height: auto;
}
.anecdoteDivTxt:first-child {
  margin-top: 5px;
  border-radius: 3px 3px 0 0;
}
.anecdoteDivTxt:last-child {
  margin-bottom: 5px;
  border-radius: 0 0 3px 3px;
}
.anecdotePic {
  margin: 10px 9px;
}
.anecdoteDivTxtLeft {
  border-right: 1px solid rgba(0,0,0,0.1);
  width: auto;
}
.anecdoteDivTxtRight {
  padding: 10px 9px;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}
#anecdoteInputDiv {
  border-radius: 3px;
}
#anecdoteInput {
  width: 100%;
  height: auto;
  margin-right: 5px;
  border-radius: 3px;
}
#submitAnecdoteBtn {
  width: auto;
  padding: 5px;
  height: 100%;
  right: 0;
  padding: 0px 5px;
} #sendIcon {
  font-size: 13px;
}

/* NOTE: NOTIF CSS */
.notifDivTxt {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0px;
  width: 100%;
  height: auto;
  margin-top: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.notifDivTxtLeft {
  border-right: 1px solid rgba(0,0,0,0.1);
  width: auto;
}
.notifDivTxtRight {
  padding: 10px 9px;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}
.notifSupprBtn {
  background-color: blue;
  position: relative;
  right: 0px;
  width: 15%;
  border: 0px;
  height: auto;
  margin: auto;
  margin-right: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}
.notifDivTxt:first-child {
  border-radius: 3px 3px 0 0;
}
.notifDivTxt:last-child {
  border-radius: 0 03px 3px;
}


#popupDivBckGround {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 66vh;
}
#popupDiv {
  padding-top : 15px;
  position: fixed;
  top: 66vh;
  left: 0;
  z-index: 98;
  height: 34vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.friendCard {
  height: 100px;
  width: 70px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
  border-radius: 3px;
  text-align: center;
  margin: 5px;
}
.friendCardImg {
  width: 50px;
  height: auto;
}
