body {
  background: rgba(0,0,0,0.02);
  margin: 0px;
}

/*Toute la partie fixe*/
#Header{
  height: 30vh;
  width: 100vw;
  background-image: url("http://68.media.tumblr.com/ad427d1df8a05deb6690ceba13ceb7c7/tumblr_nfptdyGdK51s4fnuao1_1280.jpg");
  background-repeat:no-repeat;
  background-position:30% 50%;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 10;
}
/*La partie en avant de la photo de fond*/
#profileCard {
  height: 23vh;
  width: 95vw;
  margin: 8.5vh auto 0 auto;
  border-radius: 2px 2px 0 0;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}
/*La partie de gauche de la carte en avant de la photo de fond*/
#profilePicDiv {
  height: 100%;
}
/*La partie de droite de la carte en avant de la photo de fond*/
#profileInfoDiv {
  height: 100%;
  padding: 3vh 0 3vh 0;
}
/*La photo de profil*/
#myProfile_pic {
  height: 17vh;
  width: 100%;
  object-fit: cover;
  margin: 3vh 0 ;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}
/*La partie inf de la carte en avant de la photo de fond avec Editer et Fermer*/
#botActionDiv {
  position: absolute;
  bottom: 2vh;
  right: 5vw;;
}
/*Le gros bouton en dégradé pour afficher le contexte*/
#contextButton {
  width: 95vw;
  height: 35px;
  vertical-align: middle;
  margin: 0 2.5vw 0 2.5vw;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}
#popUp {
  position: fixed;
  height: 150px;
  width: 100vw;
  bottom: -500px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}
#popUp_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
#addFriendInput {
  width: 80%;
  height: 30px;
  border-radius: 3px;
  padding: 0 8px;
}
#addFriendInputBtn {
  width: 20%;
  height: 30px;
  padding: 3px 0;
}
#popUp_body {
  height: auto;
}

/* NOTE: OLD ??? */

p {
  margin: 0 0 3px 0;
}
#section_title {
  margin-top: 42vh;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  border-bottom: 1px solid rgba(0,0,0,0.24);
  color: rgba(0,0,0,0.45);
  padding-bottom: 2px;
}
#myFriends_Space {
  width: 92vw;
  margin: auto;
  padding-bottom: 50px;
}

.friendCard {
  background-color: white;
  margin-bottom: 13px;
  z-index: 1;
}
/*Image dans carte ami*/
.imgFriend {
  height: 12vh;
  width: 12vh;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
  float: left;
}
.friendCard:after {
  content: "";
  display: table;
  clear: both;
}
.cardContent {
  padding: 8px 0 8px 13vh;
  position: absolute;
  height: 12vh;
  width: 92vw;
}
.cardAction {
  position: absolute;
  bottom: 1vh;
}
.togetherLogo {
  width: 20px;
  height: 20px;
}

#myProfile_pic:hover ~ .inputWrapper_btn {
  bottom: 60px;
  transition: 0.3s;
}
.inputWrapper_btn:hover{
  bottom: 60px;
}

.inputWrapper_btn {
  overflow: hidden;
  position: relative;
  /*top: -51px;*/
  /*right: 10px;*/
  margin-left: 30px;
  cursor: pointer;
}
#input_photo {
  cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    /*This makes the button huge so that it can be clicked on*/
    font-size:50px;
    opacity: 0;
}
