@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

/* NOTE: GENERAL */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

body {
  background-image: url("background.png");
  background-repeat:no-repeat;
  background-position:30% 50%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  margin: 0;
  transition: 0.3s;
}

.darkGradient {
  background: rgba(84, 153, 248, 0.69); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(0deg, rgba(69, 90, 100, 0.69), rgba(84, 153, 248, 0.69)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, rgba(69, 90, 100, 0.69), rgba(84, 153, 248, 0.69)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, rgba(69, 90, 100, 0.69), rgba(84, 153, 248, 0.69)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(69, 90, 100, 0.69), rgba(84, 153, 248, 0.69)); /* Standard syntax */
}

.gradButton {
  background: linear-gradient(45deg, rgba(117, 251, 233, 1), rgba(84, 153, 248, 1)); /* Standard syntax */
  border: 0;
  border-radius: 2px;
  color: white;
  height: 30px;
  padding: 10px 0 10px 0;
}

.addButton {
  position: fixed;
  bottom: 3vh;
  right: 4vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);
}

.classicBtn {
  background-color: rgba(0,0,0,0);
  border: 0px;
  text-decoration: underline;
}

.transparentHeader {
  z-index: 25;
  width: 100vw;
  height: 65px;
  position: fixed;
  top: 0;
  display: inline;
  transition: 1s;
}
.noTransparentHeader {
  background-color: rgba(69, 90, 100, 0.69);
  color: black;
  transition: 1s;
}

#myProfilePic {
  height : 35px;
  width: 35px;
  object-fit: cover;
  border: 1px solid white;
  position: absolute;
  right: 4vw;
  top: 15px;
  border-radius: 50%;
}
#whitelogo {
  position: absolute;
  top: 15px;
  left: 4vw;
  height: 35px;
  width: 35px;
}
#rememberTitle {
  color: white;
  position: absolute;
  top: 25px;
  left: 14vw;
  font-size: 15px;
  font-weight: 100;
}

.trueBody {
  margin: 65px 4vw 20px 4vw;
  height: auto;
}


/* NOTE: OLD version */

.imgCard {
  height: 150px;
  object-fit: cover;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.

/*::-webkit-scrollbar {
    display: none;
}*/




 //  https://www.sanwebe.com/2014/08/css-html-forms-designs
