* {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vh;
  height: 100vh;
  background-image: url("https://static.pexels.com/photos/46160/field-clouds-sky-earth-46160.jpeg");
  margin: 0px;
  background-size: cover;
}

#bodyLogin {
  padding: 30px;
  border-radius: 2px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  max-width: 30em;
  width: auto;
  max-height: 80em;
  position: absolute;
  top: 30vh;
  left: 70vh;
} h1 {
  font-weight: 100;
}


#logo {
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -70px;
}

.form-control {
  margin: 5px 0 5px 0;
}

.btn {
  width: 100%;
  margin-top: -10px;
}

#title {
  font-size: 70px;
  text-align: center;
  color: white;
  margin-bottom: -30px;
}

.bigMargin {
  margin: 3em auto;
  max-width: 20em;
}

#explainBody {
  max-width: 50em;
  margin: 0px auto;
  /*background-color: grey;*/
}

#state {
  margin-top : 15px;
  opacity: 0;
}
