body {
  background: #404040;
  margin: 0px;
}

#descriptionPanel {
  font-family: 'Roboto', sans-serif;
  color: #fffbf1;
  padding: 20px;
  background-color:#138eba;
  //height: 25em;
}

#socialPanel {
  font-family: 'Roboto', sans-serif;
  color: #676767;
  padding: 20px;
  background-color:#138eba;
  //height: 25em;
}

.titre1 {
  font-size: 18px;
  font-weight: 400;
}

.titre2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2px;
}

#icones {
  margin-right: 8px;
}

/*.titre3 {
  font-size: 19px;
  font-weight: 300;
}*/

#detailsPanel {
  font-family: 'Roboto', sans-serif;
  color: #c4c3cb;
  padding: 20px;
  background-color:#404040;
  //height: 25em;
}

#supprButton {
  float: right;
}

@media only screen and (max-width: 800px) {
  .titre1{
    font-size: 17px;
  }
  .titre2{
    font-size: 12px;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
