@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

#bodyGlobal {
  height: auto;
  margin: 3em auto;
  max-width: 50em;
  //height:1500px;
}

/*#loupeIcone {
  display: inline-block;
}*/

#header {
  background-color: rgb(77, 182, 172);
  border-bottom : 3px solid #199894;
  position: fixed;
  width: 100%;
  z-index: 70;
}

#headerWMargin {
  margin: 0 auto;
  max-width: 50em;
}

#titreHeader {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 22px;
  color: white;
  transition: 0.5s;
  margin: 15px 0 7px 0;
  display: inline-block;
  cursor: pointer;
}

.typeBox {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);;
  height: auto;;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  border-radius: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: 0.8s;
  padding-left: 10px;
}


*::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size : 15px;
    }

* {
  box-sizing: border-box;
}

/* permet de reset le responsive*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #EEEEEE;
  margin: 0px;
}

.generalRoundButton {
  font-size: 20px;
  transition: 0.3s;
  border-radius: 45px;
  height: auto;
  font-size: 20px;
}
.generalRoundButton:hover {
  //box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}



 //  https://www.sanwebe.com/2014/08/css-html-forms-designs
